:root {
  --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.p {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-3 {
  padding: 1.5rem;
}
.py {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.px {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.m {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.m-3 {
  margin: 1.5rem;
}
.my {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mx {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding-right: 15px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.container {
  width: calc(100% - 250px);
  margin-top: 60px;
  margin-left: 250px;
  padding: 30px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  background: white;

  padding-left: 20px;
  padding-right: 20px;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;

  height: calc(100vh - 60px);
  width: 250px;
  border-top: 1px solid #f4f4f4;

  padding: 20px;

  background: white;

  transition: 0.5s;
  z-index: 1;
}

.items-container {
  margin-top: 1rem;
}

.item {
  margin-bottom: 0.5rem;
}

.item > a {
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  border-radius: 0.25rem;
}

/* Sidebar Item Hover */
.item > a:hover {
  background: #eee;
  color: #333 !important;
}

.item-active {
  background: rgb(208, 74, 109) !important;
  color: #fff !important;
  border-radius: 0.25rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: none;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #333;
}

.nav-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.thin-letter {
  font-weight: lighter;
  color: #444;
}

.panel {
  width: 100%;
  height: auto;

  padding: 20px;
  text-align: center;

  background: #fff;
  border: 0.5px solid #eee;
}

@media only screen and (max-width: 1300px) {
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar {
    display: none !important;
  }

  .container {
    width: 100% !important;
    margin-left: 0px !important;
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    border-top: 1px solid #f4f4f4;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.3rem 0;
  }

  .main-logout {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
